<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FF14Helper_Jump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FF14Helper_Jump.Properties.Settings>
            <setting name="KeyP5" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="KeyP3" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="KeyP1" serializeAs="String">
                <value>82</value>
            </setting>
        </FF14Helper_Jump.Properties.Settings>
    </userSettings>
</configuration>